:root {
  --bg-primary: rgb(238, 177, 17);
  --bg-secondary: rgb(245, 245, 245);
  --bg-main: rgb(169, 169, 169);
  --bg-tertiary: rgb(147, 241, 241);
}

body {
  background-color: var(--bg-main);
  margin: 0;
  padding: 0;
}

/* Header */

#scroll-to-top {
  position: fixed;
  display: none;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-tertiary);
  border: none;
  z-index: 10;
}

header {
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 450px) {
  header {
    padding: 2rem 0.25rem;
  }
}

header h1 {
  margin: 0;
}

header select {
  text-align: center;
  font-size: larger;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--bg-tertiary);
  padding: 1rem;
  max-width: 95vw;
}

#quick-search-list {
  display: none;
  background-color: white;
  color: black;
  list-style: none;
  padding: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  z-index: 1;
  max-height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
}

#quick-search-list li {
  border: 1px solid black;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

/* Body */

.toaster {
  text-align: center;
  opacity: 0;
}

.body h2 {
  text-align: center;
  padding: 0.5rem;
}

#header-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.5rem;
}

@media (max-width: 450px) {
  #header-links {
    flex-direction: column;
    align-items: center;
  }
}

#card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.group {
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  margin: 0 3rem;
}

@media (max-width: 450px) {
  .group {
    margin: 0;
    padding: 1rem 0;
  }
}

.group h2 {
  padding: 0;
  margin: 0 0 2rem 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card-container::after {
  border-bottom: 1px solid black;
}

.card {
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: var(--bg-secondary);
  cursor: pointer;
  transition: scale 0.25s ease-out;
}

.card:hover {
  scale: 1.025;
}

.card-header {
  display: block;
  background-color: var(--bg-primary);
  text-align: center;
  padding: 0 0.5rem;
  text-wrap: wrap;
  width: calc(100% - 1rem);
  max-width: 18rem;
}

.card img {
  height: 15rem;
  width: 15rem;
  object-fit: contain;
  padding: 0.5rem 2rem;
  mix-blend-mode: darken;
  max-width: 95vw;
}

@media (max-width: 450px) {
  .card img {
    padding: 0.5rem 0;
  }
}
